a:link,
a:visited {
  text-decoration: none;
  color: var(--color-light--2);
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img {
  height: 5.2rem;
  margin-right: 1.5rem;
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
}
